<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="/idCheck.js" defer></script>
</head>
<body>
    <h1>회원가입</h1>
    <form method="post" action="/join">
        <input type="text" name="userid" id="userid">
        <input type="button" id="idcheck_btn" value="중복체크">
        <div id="msg">
            
        </div>
    </form>
</body>
</html>