<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% if msg %}
    <script type="text/javascript">
        alert("{{msg}}")
    </script>
    {% endif %}
</head>
<body>
    <h1>
        <a href="/">LOGO</a>
    </h1>
    로그인페이지
    <form action="/user/login" method="post">
        <input type="text" name="userid">
        <input type="text" name="userpw">
        <input type="submit" value="로그인">
    </form>
</body>
</html>